<div class='container'>
  <div class='row'>
    <h3 class='m-4'>会員情報編集</h3>
  </div>
  <%#= render 'layouts/error_messages', model: @customer %>
    <!--プロフィール画像-->
    <%= image_tag @customer.get_profile_image(100,100),class: "rounded-circle" %>
    
  <div class='row'>
    <%= form_with model: @customer, url:customer_path(@customer), local:true do |f| %>
    <table class='table table-borderless'>
        <% if @customer.name == "ゲストユーザー" %>
        <P>ゲストユーザーはユーザー情報を編集できません</P>
          <tr>
            <td><%= f.label :表示名 %></td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= @customer.email %></td>
          </tr>
          <% else %>
      <tr>
        <td><%= f.label :表示名 %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :メールアドレス %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集内容を保存", class:'btn btn-success mb-2' %></td>
        <td><%= link_to "退会する", customers_withdrawal_check_path(@customer), class:'btn btn-danger mb-2' %></td>
      </tr>
        <% end %>
    </table>
   <% end %>
  </div>
</div>
