<div class='container'>
    
  <div class='row'>
    <h5 class='col-2 font-weight-bolder m-4'>ユーザー情報</h5>
  </div>

  <div class='row py-3'>
    <div class="col">
      <!--フォロワー機能-->
      <div>
        <% if @customer != current_customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォロー中", customer_relationships_path(@customer.id), class:"btn btn-outline-dark", method: :delete %>
          <% else %>
            <%= link_to "フォローする", customer_relationships_path(@customer.id), class:"btn btn-dark", method: :post %>
          <% end %>
        <% end %>
      </div>
      <!--ユーザープロフィール表示-->
      <div>
        <%= image_tag @customer.get_profile_image(100,100) %>
        <%= @customer.name %><br>
        投稿数：<%= @customer.articles.count %>件
      </div>
      <div>
        <!--フォロー一覧リンク-->
        <%= link_to "#{@customer.followings.count}フォロー中", followings_customer_path(@customer) %>　
        <!--フォロワー一覧リンク-->
        <%= link_to "#{@customer.followers.count}フォロワー", followers_customer_path(@customer) %> 
      </div>
    </div>
  </div>

  <!--ログインユーザーのユーザー情報なら編集ボタンを表示-->
  <% if @customer == current_customer %>
    <%= link_to "アカウント編集", edit_customer_path(@customer), class:'btn btn-success col-2' %>
  <% end %>
  
  <!--ログインユーザーの投稿一覧表示-->
  <h3><%= "#{@customer.name}さんの投稿一覧" %></h3>
    <table class="table">
      
      <thead>
        <tr>
          <th>本のタイトル</th>
          <th>投稿内容</th>
          <th>todo</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td><%= link_to "『#{article.title}』", article_path(article)  %></td>
          <td><%= article.content.truncate(30) %></td>
          <td><%= article.todo %></td>
          <td>
            <!--記事の投稿者がログインユーザーなら編集ボタンと削除ボタンを表示-->
            <% if article.customer == current_customer %>
              <%= link_to "編集する", edit_article_path(article), class:'btn btn-success' %>
              <%= link_to "削除する", article_path(article), {method: :delete, class: "btn btn-sm btn-danger","data-confirm" => "本当に削除しますか？" }%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      
    </table>

</div>