<div class="container">
  <div class="row">
    <div class="col">
      <h2>投稿一覧</h2>
        <table class="table">
          <thead>
            <tr>
                <th>投稿者</th> 
                <th>ID</th>   
                <th>title</th>
                <th>content</th>
                <th>todo</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
            <tr>
              　<th>
                  <%= link_to admin_customer_path(article.customer) do %>
                    <%= article.customer.name %>
                  <% end %>
                </th> 
                <th><%= article.id %></th>
                <th>
                  <%= link_to admin_article_path(article) do %>
                    <%= article.title %>
                  <% end %>
                </th>
                <th><%= article.content %></th>
                <th><%= article.todo %></th>
            </tr>
            <% end %>
          </tbody>
        </table>
          <%= paginate @articles %>
        </div>
    </div>
</div>