<div class="container">
  <div class="row">
    <div class="col">
      <h2>投稿一覧</h2>
        <table class="table">
          <thead>
            <tr>
                <th>ID</th>   
                <th>投稿者</th> 
                <th>title</th>
                <th>content</th>
                <th>todo</th>
                <th>公開設定</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
            <tr>
                <td><%= article.id %></td>
              　<td>
                  <%= link_to admin_customer_path(article.customer) do %>
                    <%= article.customer.name %>
                  <% end %>
                </td> 
                <td>
                  <%= link_to admin_article_path(article) do %>
                    <p><%= article.title %></p>
                  <% end %>
                  <%= image_tag article.get_book_image(85,85) %>
                </td>
                <td><%= article.content %></td>
                <td><%= article.todo %></td>
                <td>
                <% if article.is_published_flag %>
                  公開
                <% else %>
                  非公開
                <% end %>
                </div>
            </tr>
            <% end %>
          </tbody>
        </table>
          <%= paginate @articles %>
        </div>
    </div>
</div>