<div class="container">
    <div class="row">
        <div class="col m-5">
            <h3>ようこそ、SummaMeへ！</h3>
            <p>SummaMeは読書のアウトプットを目的としたwebサイトです。<br>
            読書のアウトプットとは「読書をすることで得られた知識を、自分の言葉で表現してその内容を実際に行動に移すこと」です。<br>
            読んで終わるのではなく読書後に本の要約を整理しまとめることでアウトプットし、読書の質を高めることができます。<br>
            また、本の内容を実践することで自己の能力向上につながります。<br>
            読書アウトプットを習慣化するためにぜひご利用ください。</p>
            <% @articles.each do |article| %>
            <div>
                <%= image_tag article.customer.get_profile_image(50,50),class: "rounded-circle" %>
                <% if customer_signed_in? %>
                    <%= link_to article_path(article) do %>
                        <%= image_tag article.get_book_image(100,100) %>
                        <%= "『#{article.title}』" %>
                    <% end %>
                <% else %>
                        <%= image_tag article.get_book_image(100,100) %>
                        <%= "『#{article.title}』" %>
                <% end %>
            </div>
                <p><%= article.content.truncate(50) %></p>
            <% end %>
        </div>
    </div>
</div>