<div class='container '>
  <div class='row'>
    <h3 class='m-4 '>新規投稿</h3>
  </div>
  <%#= render 'layouts/error_messages', model: @customer %>

  <div class='row justify-content-center'>
    <%= form_with model: @article, url:articles_path, method: :post, local:true do |f| %>
    <table class='table table-borderless'>
      <tr>
        <td><%= f.label :本の画像 %></td>
        <!--楽天APIで検索された書籍の画像を@image_urlで表示-->
        <% if @image_url.present? %>
          <td><%= image_tag @image_url %></td>
          <% f.hidden_field :image_url, value: @image_url %>
        <% else %>
          <td><%= f.file_field :book_image, accept:"/image/*" %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :本のタイトル %></td>
        <!--楽天APIで検索された書籍のタイトルを＠titleで表示-->
        <% if @title.present? %>
          <td><%= f.text_field @title %></td>
          <%# f.hidden_field :title, value: @title %>
        <% else %>
          <td><%= f.text_field :title, autofocus: true, size: "60" %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :本の要約 %></td>
        <td><%= f.text_area :content, autofocus: true,placeholder:"各章で「重要だと感じた個所」を抜き出してみましょう", cols: "60", rows: "10" %></td>
      </tr>
      <tr>
        <td><%= f.label :todo %></td>
        <td><%= f.text_area :todo, autofocus: true, placeholder:"本から学んだ今すぐ取り組むべきことを書き出してみましょう", size: "60" %></td>
      </tr>
      <tr>
        <td>
          <div>
           <%= f.label :is_published_flag, "公開", value: true %>
           <%= f.radio_button :is_published_flag, 'true' %>
         </div>
         <div>
           <%= f.label :is_published_flag, "非公開", value: false %>
           <%= f.radio_button :is_published_flag,'false' %>
         </div>
        </td>
        <td><%= f.submit '投稿する', class: "btn btn-success" %></td>
      </tr>
    </table>
   <% end %>
  </div>
</div>
