<div class="container">
    <div class="row">
      <!--戻るボタン-->
      <%= link_to customer_path(@article.customer_id) do %>
        <i class="fas fa-arrow-left fa-lg"></i>
      <% end %>
        <div class="col m-5">
          <h3>投稿詳細</h3>
          投稿者：
          <%= link_to customer_path(@article.customer_id) do %>
            <%= image_tag @article.customer.get_profile_image(100,100) %><%= @article.customer.name %>
          <% end %><br>
          
            <table class="table">
              <tr>
                <th>本のタイトル</th>
              </tr>
              <tr>
                <td><%= @article.title  %></td>
              </tr>
              <tr>
                <th>投稿内容</th>
              </tr>
              <tr>
                <td><%= @article.content %></td>
              </tr>
              <tr>
                <th>todo</th>
              </tr>
              <tr>
                <td><%= @article.todo %></td>
              </tr>
              <tr>
                <td><%= @article.created_at.strftime('%Y/%m/%d/%H:%M:%S')  %></td>
              </tr>
            </table>
            
            <!--ログインユーザーが記事の投稿者なら記事の編集ボタンと削除ボタンを表示-->
            <% if @article.customer == current_customer %>
              <%= link_to "編集する", edit_article_path(@article), class:'btn btn-success' %>
              <%= link_to "削除する", article_path(@article), {method: :delete, class: "btn btn-sm btn-danger","data-confirm" => "本当に削除しますか？" }%>
            <% end %>
            
            <!--いいね機能-->
            <div id="favorite_buttons_<%= @article.id %>">
              <%= render "public/favorites/favorite-btn", article: @article %>
            </div>
            
            <!--コメント表示-->
            <div>
              <p><%= @article.comments.count %>件のコメント</p>
              <% @article.comments.each do |comment| %>
                <%= link_to customer_path(comment.customer) do %>
                  <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
                  <p><%= comment.customer.name %></p>
                <% end %>
                <%= comment.comment %><br>
                <%= comment.created_at.strftime('%Y/%m/%d/%H:%M:%S') %>
                <!--削除ボタン(コメントがログインユーザーのものならを表示)-->
                <% if comment.customer == current_customer %>
                  <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
              <% end %>
            </div>
            
            <!--コメント投稿機能-->
            <div>
              <%= form_with model: [@article, @comment] do |f| %>
                <%= f.text_field :comment, rows: '5', placeholder: "返信をコメントする" %>
                <%= f.submit "送信", class:'btn btn-success' %>
              <% end %>
            </div>
        </div>
    </div>
</div>