<!DOCTYPE html>
<html>
  <head>
    <title>SummaMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <header>
      <nav class='navbar navbar-expand-md bg-dark'>
        <!--adminとcustomerでリンク先を変更-->
        <h2 class='ml-5'>
          <% if admin_signed_in? %>
            <%= link_to 'SummaMe', admin_root_path, class:'text-light' %>
          <% else %>
            <%= link_to 'SummaMe', root_path, class:'text-light' %>
          <% end %>
        </h2>
        
        <!--ログイン後、ログインユーザーに対して表示-->
        <div class='navbar-collapse justify-content-center'>
          <% if customer_signed_in? %>
            <p class='text-light'>ようこそ、<%= current_customer.name %>さん！</p>
          <% end %>
        </div>
        
        <!--検索フォーム（ログイン時のみ表示）-->
        <%= render 'layouts/search' %>
          
        <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5'>
          <ul class='nav navbar-nav ml-auto'>
            
            <!--customerがログインしているときのリンク一覧-->
            <% if customer_signed_in? %>
              <!--webサイトhomeページリンク-->
              <li>
                <%= link_to customer_path(current_customer.id), class:'nav-link text-light' do %>
                   <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <!--投稿一覧リンク-->
              <li>
                <%= link_to articles_path, class:'nav-link text-light' do %>
                  <i class="far fa-folder"></i> 投稿一覧
                <% end %>
              </li>
              <!--customer新規投稿リンク-->
              <li>
                <%= link_to new_article_path, class:'nav-link text-light' do %>
                  <i class="far fa-file"></i> 新規投稿
                <% end %>
              </li>
              <!--customerログアウトリンク-->
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class:'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>
            
            <!--管理者がログインしているときのリンク一覧-->
            <% elsif admin_signed_in? %>
              <!--投稿一覧リンク-->
              <li>
                <%= link_to admin_articles_path, class:'nav-link text-light' do %>
                  <i class="fas fa-gift"></i> 投稿一覧
                <% end %>
              </li>
              <!--会員一覧リンク-->
              <li>
                <%= link_to admin_customers_path, class:'nav-link text-light' do %>
                  <i class="fas fa-users"></i> 会員一覧
               <% end %>
              </li>
              <!--管理者ログアウトリンク-->
              <li>
               <%= link_to destroy_admin_session_path, method: :delete,class:'nav-link text-light' do%>
                 <i class="fas fa-sign-out-alt"></i> ログアウト
               <% end %>
              </li>
            
            <!--ログインしていないときのリンク一覧-->
            <% else %>
              <!--aboutページリンク-->
              <li>
                <%= link_to about_path, class:'nav-link text-light' do %>
                  <i class="fas fa-info"></i> このサイトについて
                <% end %>
              </li>
              <!--ゲストログイン-->
              <li>
                <%= link_to '/guest_sign_in', method: :post, class:'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> ゲストログイン
                <% end %>
              </li>
              <!--新規登録リンク-->
              <li>
               <%= link_to new_customer_registration_path, class:'nav-link text-light' do %>
                 <i class="fas fa-user-plus"></i> 新規登録
               <% end %>
              </li>
              <!--customerログインリンク-->
              <li>
                <%= link_to new_customer_session_path, class:'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <%= yield %>
    
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>SummaMe</p>
            <%#= image_tag('logo-white.png') %>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
